@font-face {
	font-family: 'a Awal Ramadhan';
	src: url(../../assets/fonts/aAwalRamadhan.woff2) format('woff2'),
	url(../../assets/fonts/aAwalRamadhan.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}