@font-face {
	font-family: 'aAidilfitri';
	src: url(../../assets/fonts/aAidilfitri.woff2) format('woff2'),
	url(../../assets/fonts/aAidilfitri.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}